<div class="flex width100"
     style="justify-content: flex-end">
    <img (click)="onCancelClick()"
         src="../../../assets/images/close-icon.svg"
         alt="">
</div>
<div class="flex width100">
    <h2>{{dialogTitle}}</h2>
</div>
<div mat-dialog-content
     class="popup-form-content">
    <app-form [form]="form"
              [submitAction]="submitAction"
              [formFields]="formFields"
              [isFlexColumn]="true"></app-form>
</div>
<div class="flex width100">
    <button class="form-button form-button-submit popup-form-button"
            [mat-dialog-close]="form.value">
        <span class="popup-form-button-text form-button-submit-text">{{okButtonText}}</span>
    </button>
    <button class="form-button form-button-cancel popup-form-button"
            (click)="onCancelClick()">
        <span class="popup-form-button-text form-button-cancel-text">Отмена</span>
    </button>
</div>
