<div class="flex width100">
    <h2>{{dialogTitle}}</h2>
</div>
<div mat-dialog-content
     class="popup-form-content">
    <app-form [form]="form"
              [submitAction]="submitAction"
              [formFields]="formFields"
              [isFlexColumn]="true"></app-form>
</div>
<div class="flex width100" style="align-items: center; justify-content: flex-end;">
    <button mat-raised-button color="accent"
            class="popup-form-button"
            (click)="onCancelClick()">
        <span class="popup-form-button-text form-button-cancel-text">Отмена</span>
    </button>
    <button mat-raised-button color="primary"
            class="popup-form-button"
            [mat-dialog-close]="form.value">
        <span class="popup-form-button-text form-button-submit-text">{{okButtonText}}</span>
    </button>
</div>
