<form
        [formGroup]="form"
        (ngSubmit)="submitAction($event)"
        class="app-form"
        [class.flex-column]="isFlexColumn"
        [class.flex]="!isFlexColumn"
>
    <ng-container *ngFor="let field of formFields">
        <div class="width100"
             *ngIf="sampleField(field.type || 'text')">
            <mat-form-field>
                <mat-label>{{field.name}}</mat-label>
                <input
                        matInput
                        [type]="field.type || 'text'"
                        [placeholder]="field.placeholder || field.name"
                        [formControlName]="field.formControlName"
                        [required]="field.required"
                />
            </mat-form-field>
        </div>

        <div class="width100"
             *ngIf="isCheckbox(field.type)">
            <mat-checkbox [formControlName]="field.formControlName">{{field.name}}</mat-checkbox>
        </div>

        <div *ngIf="field.type === 'selectBox'"
             class="width100">
            <mat-select [formControlName]="field.formControlName">
                <mat-option
                        [value]="opt.id"
                        *ngFor="let opt of field.data"
                >
                    {{ opt.name }}
                </mat-option>
            </mat-select>
        </div>

        <div
                class="width100 form-input-file"
                (click)="inputFile.click()"
                *ngIf="field.type === 'file'"
        >
            <div *ngIf="!inputFile.value"
                 class="flex-column">
                <span>
              Перетащите сюда файл или загрузите с компьютера
            </span>
            </div>
            <div *ngIf="inputFile.value">
                {{inputFile.value}}
            </div>
            <label class="form-input-file-label">
                <input (change)="fileChange(inputFile.files, field.formControlName)"
                       #inputFile
                       type="file"
                       class="width100 form-input-file-element"
                       hidden
                />
                <input type="file"
                       hidden
                       [formControlName]="field.formControlName"
                />
            </label>
        </div>

        <div
                *ngIf="field.type === 'formGroup'"
                [formGroupName]="field.formGroupName"
                class="flex-column base-form-field"
        >
            {{ field.name }}
            <ng-container *ngFor="let field of field.fields">
                <div
                        class="width100 form-input"
                        *ngIf="sampleField(field.type || 'text')"
                >
                    <div class="form-input-label">{{ field.name }} <br/></div>
                    <input
                            [type]="field.type || 'text'"
                            [placeholder]="field.placeholder || field.name"
                            [formControlName]="field.formControlName"
                            class="width100 form-input-element"
                            required="required"
                    />
                </div>

                <div
                        class="flex width100"
                        style="padding-bottom: 1rem;"
                        *ngIf="isCheckbox(field.type)"
                >
                    <input
                            [id]="field.name + ' checkbox'"
                            type="checkbox"
                            class="form-checkbox"
                            [formControlName]="field.formControlName"
                    />
                    <label class="width100"
                           [for]="field.name + 'checkbox'">
                        <span style="padding-left: 1rem;"> {{ field.name }} </span>
                    </label>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-content></ng-content>
</form>
